span.gm-login-header { font-family: Kreon, serif;
                        color: #F20C4D;
                        font-size:6em;
                      }




.top-pink { border-top:1px solid pink; }

.gm-nav-bar-logo {  font-family: 'Kreon', serif;  color:#F20C4D;  font-size:1.6em;}
.gm-user-dropdown {text-align:right; }
.gm-user-dropdown-icons { color:#F20C4D; font-size:1.5em; cursor:pointer; }
